<!DOCTYPE html>
<html>

<head>

  <title>Home</title>

  <%- include partials/head.ejs %>

</head>

<body>

  <%- include partials/navbar.ejs %>

  <br>
  <br>
  <h1> All Current Users </h1>
  <br>
  <br>

  <div class="table">

    <table>
      <thead>
        <tr>
          <td>First Name</td>
          <td>Last Name</td>
          <td>Email Address</td>
        </tr>
      </thead>

      <tbody>
        <% for(var i=0; i < sorted.length; i++) { %>
        <tr>
          <td>
            <%= sorted[i].firstname %>
          </td>
          <td>
            <%= sorted[i].lastname %>
          </td>
          <td>
            <%= sorted[i].email %>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>

  </div>
</body>

</html>
