<!DOCTYPE html>
<html>

<head>

  <title>Matched Page</title>

  <%- include partials/head.ejs %>

</script>

</head>

<body>

  <%- include partials/navbar.ejs %>

  <br>
  <br>
  <h1> Matching User Information </h1>
  <br>
  <br>

  <table class="table">
    <tbody>
      <tr>
        <th scope="row"></th>
        <td>First name:</td>
        <td>Last name:</td>
        <td>Email:</td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td>
          <%= match.firstname %>
        </td>
        <td>
          <%= match.lastname %>
        </td>
        <td>
          <%= match.email %>
        </td>
      </tr>
    </tbody>
  </table>

</body>

</html>
