<!DOCTYPE html>
<html>

<head>

  <title>Show New Users Page</title>

  <%- include partials/head.ejs %>

</head>

<body>

  <%- include partials/navbar.ejs %>

  <table class="table">
    <tbody>
      <tr>
        <th scope="row"></th>
        <td>First name:</td>
        <td>Last name:</td>
        <td>Email:</td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td>
          <%= obj.firstname %>
        </td>
        <td>
          <%= obj.lastname %>
        </td>
        <td>
          <%= obj.email %>
        </td>
      </tr>
    </tbody>
  </table>

</body>

</html>
